* {
  margin: 0%;
  padding: 0%;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52b69a;
  border-radius: 20px;
}
